main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0;
  width: 100vw;

  section {
    .section-item {
      padding: 1rem;

      .description {
        display: flex;

        h4 {
          display: inline-block;
        }

        :first-child {
          flex: 1;
        }

        :last-child {
          padding-left: 1em;
          text-align: end;
        }
      }

      p {
        margin: 0.5rem 0 0 0;
      }
    }
  }
}
