@import "colors";

body.print {
  * {
    color: color-lightness(black, 20%);
    background-color: white;
    background: white;
    text-decoration: none;
    border-color: color-lightness(black, 80%);
  }

  header {
    padding: 1rem 0;
  }

  main {
    padding: 0;
  }

  .fancy & > :first-child::before {
    background: transparent;
    mix-blend-mode: inherit;
  }
}
