@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900|Eczar:800');
@import "colors";

$border: 4px solid color-alpha(blue, 0.2);

body {
	color: color-alpha(black, 0.85);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

h1 {
  font-family: 'Eczar', serif;
  font-weight: 900;
  font-size: 45px;
}

h2 {
  align-items: center;
  border-bottom: $border;
  border-top: $border;
  font-weight: 300;

  &.fancy {
    background: color-lightness(blue, 98%);
    color: color(black);
    text-transform: uppercase;

    & > :first-child {
      position: relative;

      &::before {
        background: linear-gradient(color-lightness(purple, 40%), color(purple));
        content: '';
        display: inline-block;
        mix-blend-mode: lighten;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .subtitle {
    font-size: 18px;
    text-transform: none;
  }
}

h3, h4 {
  font-weight: 700;
}

h6 {
  text-transform: uppercase;
  font-weight: 300;
}

header {
	color: color-alpha(white, 0.9);
}

p {
  hyphens: auto;
  text-align: justify;
  word-break: all;
}
