<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header>
      <img src="images/avatar.jpg" alt="Photo of Codi" class="avatar" itemprop="image">
      <h1 itemprop="name">{{ site.resume_name }}</h1>
      <div class="content subtitle">
        <h2 iemprop="job-title">{{ site.job_title }}</h2>
        <p>
          {{ site.data.summary }}
        </p>
      </div>
    </header>
    <main>
      <div class="content">
        <section>
          <h2 itemprop="experience">Experience</h2>
          {% for job in site.data.experience %}
          <div class="section-item">
            <h3 itemprop="name">{{ job.company }}</h3>
            <div class="description" itemprop="description">
              <h4>{{ job.position }}</h4>
              <h4>{{ job.duration }}</h4>
            </div>
            <p>{{ job.summary }}</p>
          </div>
          {% endfor %}
        </section>
      </div>
    </main>
  </body>
</html>

